h1, a, p {
    color: white;
    font-family: Arial;
}

button {
    background-color: #C4C4C4;
    border: none;
    border-radius: 3px;
    width: 119px;
    height: 29px;
    color: #383838;
    font-size: 13px;
    font-weight: bold;
    transition-duration: 0.2s;
}

button:hover {
    background-color: white;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}